## CDAPⅠ-Certified-Data-Analyst-using-Python-2

#### 1. For 반복문을 이용하여, 1부터 입력받은 수 까지 제곱 합을 구하는 프로그램을 만드시오.

Ex ) 1² + 2² + 3² + 4² + ...  + n²

In [1]:
number = int(input("input number: "))

s = 0
for i in range(1, number+1):
    square = i*i
    s = s + square
    
print(s)

input number: 5
55

#### 2. If 조건문을 이용하여, 어떤 수를 입력했을 때, 홀수와 짝수를 구분하는 프로그램을 만드시오.

In [2]:
number2 = int(input("input number: "))

if number2 % 2 == 0:
    print("%d is Even number" %number2)

else :
    print("%d is Odd number" %number2)

input number: 9
9 is Odd number

#### 3. 어떤 리스트의 중복을 제거하는 함수(def)를 만드시오.

Ex) 
    * 입력 : A= [1,2,3,4,4,4,5]  
    * 결과 :  [1,2,3,4,5]

In [3]:
def remove_duplicates():
    A = list(input("input list: "))
    print('입력 : ', A)

    B = []
    for i in A :
        if i not in B:
            B.append(i)
        else :
            continue
    print("중복제거: ", B)

In [4]:
remove_duplicates()

input list: 1234445
입력 :  ['1', '2', '3', '4', '4', '4', '5']
중복제거:  ['1', '2', '3', '4', '5']

#### 4. 두 개의 이중 리스트를 Matrix(행렬)로 변환하여, 각 성분끼리 더하는 함수를(def) 만드시오.

In [5]:
import numpy as np

list1 = [[1,2,3],[9,8,7],[2,5,6]]
list2 = [[2,3,4],[1,3,4,],[7,9,7]]

In [6]:
def matrix_sum():
    x = np.array(list1)
    y = np.array(list2)
    
    s = x + y
    return(s)

In [7]:
matrix_sum()

array([[ 3,  5,  7],
       [10, 11, 11],
       [ 9, 14, 13]])

#### 5. Pandas 라이브러리를 이용하여, 아래와 같은 Series를 생성하시오.

In [8]:
import pandas as pd

obj = pd.Series([2019, 7, 20, '이영호', 'HR'], index=['연도','월','일','성함','소속'])
obj.name = 'Person'
print(obj)

연도    2019
월        7
일       20
성함     이영호
소속      HR
Name: Person, dtype: object

#### 6. 아래의 2x3 행렬을 3x2행렬로 변환 하는 함수(def)를 생성하시오.

* 입력 : [[2,3],[4,5],[6,7]]
* 결과 : [[2,4,6],[3,5,7]]

In [9]:
def convert_mtx():
    n = np.array([[2,3],[4,5],[6,7]])
    return(np.transpose(n))

In [10]:
convert_mtx()

array([[2, 4, 6],
       [3, 5, 7]])

#### 7. 아래 리스트의 평균을 계산하시오.

In [11]:
list1 = [1,1.2,3,4,2,2.2,3.4,0.8,20]

In [12]:
avg = sum(list1) / len(list1)
print(avg)

4.177777777777777

#### 8. If 조건문을 이용하여, 특정 값을 입력했을 때, 해당 값이 3의 배수인지 아닌지 판별하는 함수(def)를 만드시오.

In [13]:
def three():
    num = int(input("input number :"))
    if num % 3 == 0 :
        print("%d는 3의 배수입니다." %num)
    else :
        print("%d는 3의 배수가 아닙니다." %num)

In [14]:
three()

input number :5
5는 3의 배수가 아닙니다.

#### 9. 연도를 입력했을 때, 윤년인지 평년인지 판별하는 함수(def)를 만드시오.

* 윤년의 조건 
    - 4로 나누어 떨어지는 년도는 윤년이다
    - 그 중 100으로 나누어 떨어지는 년도는 윤년이 아니다
    - 400으로 나누어 떨어지는 년도는 무조건 윤년이다

In [15]:
def leap_year():
    year = int(input("input year :"))
    if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0):
        print("윤년입니다.")
    else :
        print("윤년이 아닙니다.")

In [16]:
leap_year()

input year :2020
윤년입니다.

#### 10. 2_data.csv 를 Pandas를 이용해 불러와 데이터를 상위 5개 항목만 출력 하시오.

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("2_data.csv")
df.head(5)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

#### 11. 2_data.csv 데이터의 column을 모두 확인하시오

In [19]:
df.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

#### 12. 2_data.csv 데이터의 구매수량에 대한 평균을 계산하시오 .

In [20]:
df['구매수량'].mean()

1.138202689736349

#### 13. 2_data.csv 데이터의 "물품 대분류" 중, 축산물의 갯수를 계산하시오

In [21]:
len(df[df['물품대분류']=='축산물'])

125387

#### 14 2_data.csv 데이터의 "공급주차"뒤에 차수를 붙이는 함수를(def) 만드시오.

Ex ) 
    * 입력 : 1 
    * 결과 : 1주차

In [22]:
def provide():
    df['공급주차'] = df.공급주차.astype('str')
    df['공급주차'] = df['공급주차'] + '차수'

In [23]:
provide()

In [24]:
df.head(5)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1차수,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1차수,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1차수,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1차수,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1차수,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

#### 15. 2_data.csv 데이터의 "성별"을 replace 함수를 이용하여, '남성'은 1, '여성'은 0으로 데이터를 변환하시오

In [25]:
df['성별'] = df['성별'].replace('남', '1')
df['성별'] = df['성별'].replace('여', '0')
df.head(5)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1차수,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,0,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1차수,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,0,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1차수,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,0,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1차수,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,0,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1차수,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,0,34.0,30대이하,4403,매장C,NaN,10:09

#### 16. 만약 본인이 동천마켓의 CEO라면 어떤 데이터 분석을 실시하겠습니까? 
5가지만 요약해서 작성해 주세요

1. 조합원상태별 구매물품 종류 및 구매 수량을 분석한다. 정상회원과 탈퇴회원간 주로 구매하는 물품과 구매수량의 차이가 있을 경우, 회원 상태별로 판매 전략을 차별화한다.


2. 구매 매장별로 구매수량과 구매금액이 큰 연령대를 분석한다. 구매수량과 구매금액이 큰 연령대를 주 타겟 고객층으로 하여, 매장별로 주 타겟 고객층에 맞는 판매 전략을 수립한다.


3. 구매시각 변수와 물품분류, 물품명 변수로 시간대별 많이 판매되는 물품을 분석한다. 분석결과를 활용하여 시간대별 판매량에 따라 물품의 공급량을 계획한다.


4. 구매 매장별로 구매수량과 구매금액이 많은 물품을 분석한다. 매장별 주 판매 물품을 도출하여 각 매장에 맞게 해당 물품의 공급량을 조절하고 판매 전략을 수립한다.


5. 주소 변수와 연령 변수를 이용하여 지역별, 연령별 정상회원 비율과 탈퇴회원 비율을 확인한다. 탈퇴회원 비율이 높은 지역 주변의 매장과 탈퇴회원 비율이 높은 연령대의 구매비율이 높은 매장에 회원가입을 촉진하는 마케팅 전략을 수립한다.